@font-face {
	font-family: "MyFont";
	src: url("../font/tfont.woff") format("woff");
	font-style: normal;
}
:root {
	/* color-scheme: light dark; */
	--font-size-1: 1.8rem;
}
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-size: var(--font-size-1);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-family: "MyFont";
	scroll-behavior: smooth;
}
.flex {
	display: flex;
	flex: 0 0 auto;
}

li {
	list-style: none;
}
input,
textarea {
	display: flex;
	font: inherit;
	outline: none;
	border: none;
	background-color: inherit;
	color: inherit;
}
input:active,
textarea:active,
input:focus,
textarea:focus {
	outline: none;
	border: none;
	background-color: inherit;
	color: inherit;
}
img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.btn {
	display: inline-block;
	width: 100%;
	height: 100%;
	font: inherit;
	border: none;
	outline: none;
}

.search-container label,
.span-icon {
	height: 2.3rem;
	width: 2.3rem;
	stroke-width: 1.8px;

		display: flex;
	align-items: center;
	justify-content: center;

}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

li,
.btn,
.menu-btn,
.search-container label,
.question,
.user-name,
.user-picture,
.notification,
.outer-check,
.tag-list-btn,
.card,
.e-card__todo-check,
.e-card__todo-delete,
.e-card__todo-add,
.completed-tasks-list .list-heading {
	cursor: pointer;
}
.span-icon,
.inner-check {
	pointer-events: none;
}

.ellipsis {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
}
.rotate90 {
	transform-origin: center;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}
.span-icon {
	transition: transform 0.1s ease-in-out;
	-webkit-transition: transform 0.1s ease-in-out;
	-moz-transition: transform 0.1s ease-in-out;
	-ms-transition: transform 0.1s ease-in-out;
	-o-transition: transform 0.1s ease-in-out;
}
.e-card__category-item {
	outline: 1px solid var(--color-3);
	/* min-width: 6rem; */
}

/* Drop Down */
.dropdown-select {
	position: relative;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	width: fit-content;
	padding: 0.2rem 0.4rem;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
}
.dropdown-select:hover {
	/* color: var(--color-6); */
	cursor: pointer;
}
.dropdown-select span {
	display: flex;
	width: 1.1em;
	pointer-events: none;
}
.dropdown-select p {
	pointer-events: none;
}

/* Drop Down Select */
.dropdown > ul {
	display: none;
	width: fit-content;
	z-index: 10;
	flex-direction: column;
	position: absolute;
	top: 30px;
	font-size: 1.5rem;
	background-color: rgba(var(--bg-color-t), 0.5);
	padding: 5px 5px;
	box-shadow: rgba(var(--color-6-t), 0.5) 0px 0px 4px 0px,
		rgba(var(--color-6-t), 0.1) 0px 0px 1px 0px;

	backdrop-filter: blur(4px);
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}
.dropdown > ul > li {
	white-space: nowrap;
	/* padding: 0.2rem 0.4rem; */
	padding: 5px 10px;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	color: var(--color-4);
}
.dropdown > ul > li:hover {
	color: var(--color-6);
	background-color: rgba(var(--color-3-t), 0.1);
	outline-width: 2px;
	cursor: pointer;
	backdrop-filter: blur(4px);
}
