/* EXPANDED CARD VIEW */
.e-card-blur {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 1rem 0;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2px);
}

.e-card-bg {
	position: relative;
	font-size: 1.6rem;
	background-color: var(--bg-color);
	margin: 0 auto;
	width: 50rem;
	height: 60rem;
	border-radius: 2rem;
	outline: 2px solid rgba(var(--color-3-t), 0.15);
	padding: 2.5rem;
	padding-right: 1.5rem;

	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.e-card__close {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 15px;
	right: 10px;
	height: 3rem;
	width: 3rem;
	padding: 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.e-card__header {
	gap: 10px;
	min-width: 100%;
}

.e-card__close:hover,
.e-card__edit:hover {
	background-color: rgba(var(--color-3-t), 1);
	color: var(--color-5);
	outline: none;
}
.e-card__delete:hover {
	background-color: rgb(212, 18, 18);
	color: #fff;
	outline: none;
}

.e-card__title {
	align-content: center;
	font-size: 2.2rem;
	color: var(--color-6);
	margin: 1.5rem 0;
	border: none;
	resize: none;
	overflow: hidden;
	height: 60px;
	width: 100%;
}
.e-card__edit {
	margin-left: auto;
}
.e-card__edit,
.e-card__delete {
	margin-top: 1.8rem;
	height: 32px;
	width: 32px;
	padding: 5px;
	outline: 1px solid var(--color-2);
	flex: 0 0 auto;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.e-card__status,
.e-card__tag,
.e-card__priority,
.e-card__date {
	margin-bottom: 1rem;
	align-items: center;
}
.e-card__status-name,
.e-card__tag-name,
.e-card__priority-name,
.e-card__date-name {
	width: 10rem;
}
.e-card__status-value,
.e-card__tag-value,
.e-card__priority-value,
.e-card__date-value {
	color: var(--color-6);
	border: none;
	font: inherit;
	background: none;
}
.e-card__status-value:active,
.e-card__status-value:focus,
.e-card__priority-value:active,
.e-card__priority-value:focus {
	border: none;
	outline: none;
}

.e-card__tag-value {
	gap: 2px;
}
.e-card__tag-item {
	/* padding: 0 10px; */
	background-color: rgba(var(--color-6-t), 0.07);
	padding: 1.5px 3px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.tag-list-btn {
	position: relative;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 30px;
}
.tag-list-btn:hover {
	color: var(--color-6);
}

.e-card__category {
	outline: 2px solid var(--color-3);
	font-size: 1.4rem;
}
.e-card__category div{
	margin-top: 2px;
	left: -2px;
}
.e-card__category:hover {
	outline-width: 2px;
}
.e-card__category .list{
	max-height: 20rem;
	overflow: auto;
}
.e-card__category-container{
	min-width: 7rem;
	gap: 10px;
	left: 0;

}
.tag-list-btn .list{
	max-height: 15rem;
	overflow: auto;
}
.e-card__tag-container {
	right: -50%;
}

.e-card__tag-item:hover {
	background-color: rgba(var(--bg-color-t), 0.1);
	color: var(--color-6);
}
.e-card__description-title {
	color: var(--color-6);
	font-size: 1.6rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.e-card__description-area {
	width: 100%;
	height: 10rem;
}
.e-card__description-area textarea {
	width: 100%;
	height: 100%;
	border: none;
	color: var(--color-4);
	padding: 10px;
	resize: none;
	background-color: rgba(var(--color-3-t), 0.1);
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

/* EXPANDED CHECKLIST */
.e-card__todo-title {
	color: var(--color-6);
	font-size: 1.6rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}
.e-card__todo-add {
	width: 100%;
	/* text-shadow: var(--bg-color) 1px 1px 2px; */
	font-size: 1.6rem;
	font-weight: bold;
	border: none;
	color: var(--color-3);
	background-color: rgba(var(--color-3-t), 0.3);
	padding: 4px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	margin-bottom: 1rem;
}
.e-card__todo-add:hover {
	background-color: rgba(var(--color-3-t), 0.4);
	color: var(--color-5);
}
.e-card__todo-list {
	flex-direction: column;
	gap: 1rem;
}

.e-card__todo-item {
	align-items: center;
	border-bottom: 1px solid var(--color-2);
	padding: 5px;
}

.e-card__todo-check {
	margin-right: 10px;
}

/* Expanded Card CheckButton */
.e-card__todo-check-outer,
.e-card__todo-check-inner {
	border-radius: 40%;
	-webkit-border-radius: 40%;
	-moz-border-radius: 40%;
	-ms-border-radius: 40%;
	-o-border-radius: 40%;
}
.e-card__todo-check-outer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 16px;
	width: 16px;
	border: 1px solid var(--color-3);
	color: var(--bg-color);
	pointer-events: none;
}

.e-card__todo-check-inner {
	position: relative;
	height: 16px;
	width: 16px;
}
.e-card__todo-check-inner .span-icon {
	height: 16px;
	width: 16px;
	position: absolute;
	stroke-width: 3px;
	top: 2px;
	left: 0;
}
.completed .e-card__todo-check-inner {
	color: var(--color-3);
}

.e-card__todo-text {
	width: 100%;
	font-size: 1.6rem;
	border: none;
}

.e-card__todo-delete {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	height: 24px;
	width: 24px;
	padding: 4px;
	border-radius: 30%;
	-webkit-border-radius: 30%;
	-moz-border-radius: 30%;
	-ms-border-radius: 30%;
	-o-border-radius: 30%;
}
.e-card__todo-delete:hover {
	outline: 1px solid var(--color-2);
	color: var(--color-6);
}

.e-card__footer {
	margin-top: 4rem;
	gap: 2rem;
	flex: 0 0 auto;
}

.e-card__cancel,
.e-card__save {
	font-weight: bold;
	width: 8.5rem;
	height: 4rem;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.e-card__cancel {
	margin-left: auto;
	color: var(--color-4);
	background-color: var(--bg-color);
}
.e-card__save {
	background-color: var(--color-3);
	color: var(--color-5);
}
.e-card__save:hover {
	/* background-color: var(--color-5); */
}

@keyframes list-open {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}
@keyframes list-close {
	100% {
		height: 0;
	}
}
