::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	border: none;
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: var(--color-1);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 100px;
}
.card-container::-webkit-scrollbar-track,
.e-card-bg::-webkit-scrollbar-track,
.dropdown .list::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
	margin-top: 10px;
	margin-bottom: 10px;
}
.settings__body::-webkit-scrollbar-thumb,
.card-container::-webkit-scrollbar-thumb,
.dropdown .list::-webkit-scrollbar-thumb,
.e-card-bg::-webkit-scrollbar-thumb {
	display: none;
}
.settings__body:hover::-webkit-scrollbar-thumb,
.card-container:hover::-webkit-scrollbar-thumb,
.dropdown .list:hover::-webkit-scrollbar-thumb,
.e-card-bg:hover::-webkit-scrollbar-thumb {
	display: block;
}

.dropdown .list::-webkit-scrollbar {
	width: 2px;
}
.dropdown .list::-webkit-scrollbar {
	width: 2px;
}