.settings-page-bg {
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--bg-color);
	-webkit-backdrop-filter: blur(2px);
	        backdrop-filter: blur(2px);
	z-index: 5;
}
.settings__header,
.settings__body {
	padding: 0 1rem;
}

.settings__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	padding: 0rem 2rem;
	height: 7rem;
}
.settings__header h1 {
	font-size: 2.2rem;
	color: var(--color-6);
}

.settings__header-close {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: var(--color-6);
	height: 3.5rem;
	width: 3.5rem;
	padding: 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.settings__header-close span {
	height: 100%;
	width: 100%;
}
.settings__header-close span {
	height: 100%;
	width: 100%;
	outline: solid 2px var(--color-3);
	padding: 2px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.settings__header-close:hover {
	color: var(--color-5);
	background-color: var(--color-3);
	cursor: pointer;
}

/* BODY */
.settings__body {
	height: 100%;
	overflow: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	gap: 2rem;
	padding: 1.5rem 1rem;
	padding-bottom: 15rem;
	background-color: var(--bg-color);
}

.settings-reset-page,
.settings-lower-page,
.settings-upper-page {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: rgba(var(--color-3-t), 0.1);
	padding: 1rem 1rem;
	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
}

/* UPPER AREA */
/* Picture, name area (side 1) */
.settings-upper-page {
	gap: 5rem;
}
.settings__user-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 2rem;
}

.settings__name > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 0.5rem;
}

/*.settings__picture {
	width: 50%;
	flex: 0 0 auto;
	object-fit: contain;
}
.settings__picture img{
	pointer-events: none;
}
.settings__name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	text-align: center;


} */

.settings__picture-edit,
.settings__name-edit {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 10rem;
	padding: 0.5rem 1rem;
	color: var(--color-5);
	background-color: var(--color-3);
	border-radius: 0.7rem;
	-webkit-border-radius: 0.7rem;
	-moz-border-radius: 0.7rem;
	-ms-border-radius: 0.7rem;
	-o-border-radius: 0.7rem;
}

.settings__picture-edit p,
.settings__name-edit p {
	pointer-events: none;
}

.settings__picture img {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

/* Color area (side 2) */
.settings__color-select {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 0 1rem;
	text-align: center;
	gap: 2rem;
}
.settings__color-select > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 1rem;
}

.color-select__color {
	width: 10rem;
	height: 5rem;
	background-color: var(--color-8);
	border-radius: 0.7rem;
	-webkit-border-radius: 0.7rem;
	-moz-border-radius: 0.7rem;
	-ms-border-radius: 0.7rem;
	-o-border-radius: 0.7rem;
}
.color-selected {
	margin: 0 0.45rem;
	width: 9rem;
	height: 4.5rem;
	outline: solid 2px var(--color-3);
	outline-offset: 2px;
}

/* LOWER AREA */
.settings-lower-page {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 2rem;
	width: 100%;
}

.settings__project,
.settings__tag {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 1rem;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.settings__project > h2,
.settings__tag > h2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.settings__project {
}
.settings__tag {
}

.settings__project-list,
.settings__tag-list {
	background-color: var(--bg-color);
	width: 100%;
	padding: 2rem 1rem;
	border-radius: 1.5rem;
	-webkit-border-radius: 1.5rem;
	-moz-border-radius: 1.5rem;
	-ms-border-radius: 1.5rem;
	-o-border-radius: 1.5rem;
}
.settings__project-list > div,
.settings__tag-list > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 2rem;
}

.project-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	/* outline-color: blue; */
	outline-width: 3px;
	outline-style: solid;

	/* background-color: #000; */

	width: 100%;
	padding: 1rem 2rem;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}
.tag-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	/* outline-color: blue; */
	/* outline-width: 3px; */
	/* outline-style: solid; */

	/* background-color: #000; */
	/* border: solid 10px #000; */

	width: 100%;
	padding: 1rem 2rem;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}
.tag-item:not(:last-child) {
	border-bottom: solid 2px var(--color-3);
}
.project-item-info,
.tag-item-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.project-item-info-name,
.tag-item-info-name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.project-item-info-stats,
.tag-item-info-stats {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 1rem;
	font-size: 1.4rem;
	font-style: italic;
}
.project-item-info-stats > div,
.tag-item-info-stats > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 0.5rem;
}
.project-item-info-stats div span,
.tag-item-info-stats div span {
	font-weight: bold;
}

.project-item-action,
.tag-item-action {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 4px;
}

.project-item-action .btn,
.tag-item-action .btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 4px 4px;
	/* color: var(--color-5); */
	/* background-color: var(--color-3); */
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
}
.project-item-action .btn:hover,
.tag-item-action .btn:hover {
	background-color: var(--color-3);
	color: var(--color-5);
}
.settings__reset-button {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0 auto;
	padding: 1rem 1.5rem;
}
.settings__reset-button:hover {
	font-weight: bold;
	color: var(--color-5);
	background-color: var(--color-7);
}
