/* LIGHT THEME */
html[data-theme="light"] {
	color-scheme: light;

	--bg-color: rgb(255, 255, 255);
	--bg-color-t: 255, 255, 255;

	--color-1: #e0e8e7;
	--color-2: #bccac1;

	--color-4: #5f5f5f;
	--color-4-t: 95, 95, 95;
	--color-6: #2f3433;
	--color-6-t: 47, 52, 51;

	/* --color-3: #6aa7b3;
	--color-3-t: 106, 167, 179;
	--color-5: var(--bg-color); */

	--color-7: #f04c0f;
}
html[data-theme="light"] body {
	color: var(--color-4);
	background-color: var(--bg-color);
}

/* DARK THEME */
html[data-theme="dark"] {
	color-scheme: dark;

	--bg-color: #222;
	--bg-color-t: 34, 34, 34;

	--color-1: #2f3433;
	--color-2: #5f5f5f;

	--color-4: #bccac1;
	--color-4-t: 188, 202, 193; 
	--color-6: #e0e8e7;
	--color-6-t: 224, 232, 231;

	/* --color-3: #6aa7b3;
	--color-3-t: 106, 167, 179;
	--color-5: #fff; */
	/* --color-5: var(--bg-color); */

	--color-7: #f04c0f;
}
html[data-theme="dark"] body {
	color: var(--color-4);
	background-color: var(--bg-color);
}

html[data-theme="dark"] img {
	opacity: 0.75;
	transition: opacity 0.5s ease-in-out;
}
html[data-theme="dark"] img:hover {
	opacity: 1;
}
